@charset "UTF-8";
.header {
  width: 100%;
}
.header .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26px 0;
  margin: 0 28px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header .header__top .header__top__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
}
.header .header__top .header__top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  margin: auto 0;
}
.header h3 {
  color: #22202e;
}
.header a {
  text-align: center;
}

nav .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 44px;
     -moz-column-gap: 44px;
          column-gap: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav .container ul li {
  font-size: 16px;
  color: #726e8d;
  padding: 20px 0;
}

.main .hero__block {
  margin: 60px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr; /* Первая колонка автоматически подстраивается под содержимое, вторая занимает оставшееся пространство */
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; /* Равнять элементы по высоте */
  width: 100%;
  color: #fff;
}
.main .hero__block .hero__block_item.one {
  -ms-grid-row-span: 1;
  grid-row: span 1; /* Блок one будет занимать одну строку */
  background: rgb(42, 37, 75);
}
.main .hero__block .hero__block_item.one h2 {
  padding: 60px 187px 0 60px;
  font-size: 32px;
  font-weight: 400;
  line-height: 140%;
  color: #fff;
}
.main .hero__block .hero__block_item.one .viewbutton {
  display: inline-block;
  margin: 41px 0 0 60px;
  height: 56px;
  width: 170px;
  line-height: 56px;
  background-color: rgba(249, 249, 249, 0.15);
  color: #fff;
  text-align: center;
  font-family: "Satoshi-Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.main .hero__block .hero__block_item.one .viewbutton :hover {
  background-color: rgba(249, 249, 249, 0.524);
}
.main .hero__block .hero__block_item.two {
  -ms-grid-row: 2;
  grid-row: 2; /* Блок two будет занимать вторую строку */
  background: rgb(42, 37, 75);
}
.main .hero__block .hero__block_item.two p {
  padding: 196px 98px 60px 60px;
  color: #fff;
}
.main .hero__block .hero__block_item.three {
  -ms-grid-column: 2;
  grid-column: 2; /* Поместить третий блок во вторую колонку */
  -ms-grid-row-span: 2;
  grid-row: span 2; /* Блок three будет занимать две строки */
}
.main .hero__block .hero__block_item.three img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .brand__difference {
  margin-bottom: 86px;
}
.main .brand__difference h3 {
  padding: 60px 0 51px;
  text-align: center;
}
.main .brand__difference .brand__difference__items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main .brand__difference .brand__difference__items .brand__difference__item h4 {
  padding-top: 16px;
  margin: 0;
}
.main .brand__difference .brand__difference__items .brand__difference__item p {
  padding-top: 8px;
  margin: 0;
}
.main .brand__difference .brand__difference__items .brand__difference__item.one {
  padding-right: 58px;
}
.main .brand__difference .brand__difference__items .brand__difference__item.two {
  padding-right: 59px;
}
.main .brand__difference .brand__difference__items .brand__difference__item.three {
  padding-right: 91px;
}
.main .brand__difference .brand__difference__items .brand__difference__item.four h4 {
  padding-top: 13px;
  margin: 0;
}
.main .brand__difference .brand__difference__items .brand__difference__item.four p {
  padding-top: 11px;
  margin: 0;
}
.main .brand__difference .brand__difference__items p {
  font-size: 16px;
}