.header {
  width: 100%;
  .header__top {
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
    margin: 0 28px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .header__top__left {
      display: flex;
      margin: auto 0;
    }
    .header__top__right {
      display: flex;
      justify-content: space-between;
      column-gap: 16px;
      margin: auto 0;
    }
  }
  h3 {
    font-size: 24px;
    color: #22202e;
    font-weight: 400;
  }
  a {
    text-align: center;
  }
}
nav {
  .container {
    ul {
      display: flex;
      column-gap: 44px;
      justify-content: center;
      li {
        font-size: 16px;
        color: #726e8d;
        padding: 20px 0;
      }
    }
  }
}

.main {
  .hero__block {
    margin: 60px 0;
    display: grid;
    grid-template-columns: auto 1fr; /* Первая колонка автоматически подстраивается под содержимое, вторая занимает оставшееся пространство */
    align-items: stretch; /* Равнять элементы по высоте */
    width: 100%;
    color: #fff;
    .hero__block_item.one {
      grid-row: span 1; /* Блок one будет занимать одну строку */
      background: rgba(42, 37, 75, 1);
      h2 {
        padding: 60px 187px 0 60px;
        font-size: 32px;
        font-weight: 400;
        line-height: 140%;
      }
      button {
        padding: 16px 32px;
        margin: 41px 0 0 60px;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        border: none;
        background: rgba(249, 249, 249, 0.15);
        a {
          color: #fff;
        }
      }
    }
    .hero__block_item.two {
      grid-row: 2; /* Блок two будет занимать вторую строку */
      background: rgba(42, 37, 75, 1);
      p {
        padding: 196px 98px 60px 60px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }
    .hero__block_item.three {
      grid-column: 2; /* Поместить третий блок во вторую колонку */
      grid-row: span 2; /* Блок three будет занимать две строки */
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
