.header {
  width: 100%;
  .header__top {
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
    margin: 0 28px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .header__top__left {
      display: flex;
      margin: auto 0;
    }
    .header__top__right {
      display: flex;
      justify-content: space-between;
      column-gap: 16px;
      margin: auto 0;
    }
  }
  h3 {
    font-size: 24px;
    color: #22202e;
    font-weight: 400;
  }
  a {
    text-align: center;
  }
}
nav {
  .container {
    ul {
      display: flex;
      column-gap: 44px;
      justify-content: center;
      li {
        font-size: 16px;
        color: #726e8d;
        padding: 20px 0;
      }
    }
  }
}

.main {
  .container {
    .hero__block {
      display: grid;
    }
  }
}
