.header {
  width: 100%;
}
.header .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26px 0;
  margin: 0 28px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header .header__top .header__top__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
}
.header .header__top .header__top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  margin: auto 0;
}
.header h3 {
  font-size: 24px;
  color: #22202e;
  font-weight: 400;
}
.header a {
  text-align: center;
}

nav .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 44px;
     -moz-column-gap: 44px;
          column-gap: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav .container ul li {
  font-size: 16px;
  color: #726e8d;
  padding: 20px 0;
}

.main .container .hero__block {
  display: -ms-grid;
  display: grid;
}