.header {
  width: 100%;
  .header__top {
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
    margin: 0 28px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .header__top__left {
      display: flex;
      margin: auto 0;
    }
    .header__top__right {
      display: flex;
      justify-content: space-between;
      column-gap: 16px;
      margin: auto 0;
    }
  }
  h3 {
    color: #22202e;
  }
  a {
    text-align: center;
  }
}
nav {
  .container {
    ul {
      display: flex;
      column-gap: 44px;
      justify-content: center;
      li {
        font-size: 16px;
        color: #726e8d;
        padding: 20px 0;
      }
    }
  }
}

.main {
  .hero__block {
    margin: 60px 0;
    display: grid;
    grid-template-columns: auto 1fr; /* Первая колонка автоматически подстраивается под содержимое, вторая занимает оставшееся пространство */
    align-items: stretch; /* Равнять элементы по высоте */
    width: 100%;
    color: #fff;
    .hero__block_item.one {
      grid-row: span 1; /* Блок one будет занимать одну строку */
      background: rgba(42, 37, 75, 1);
      h2 {
        padding: 60px 187px 0 60px;
        font-size: 32px;
        font-weight: 400;
        line-height: 140%;
        color: #fff;
      }
      .viewbutton {
        display: inline-block;
        margin: 41px 0 0 60px;
        height: 56px;
        width: 170px;
        line-height: 56px;
        background-color: rgba(249, 249, 249, 0.15);
        color: #fff;
        text-align: center;
        font-family: 'Satoshi-Variable';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        transition: background-color 0.5s;
        :hover{
          background-color: rgba(249, 249, 249, 0.524);
        }
      }
      
    }
    .hero__block_item.two {
      grid-row: 2; /* Блок two будет занимать вторую строку */
      background: rgba(42, 37, 75, 1);
      p {
        padding: 196px 98px 60px 60px;
        color: #fff;
      }
    }
    .hero__block_item.three {
      grid-column: 2; /* Поместить третий блок во вторую колонку */
      grid-row: span 2; /* Блок three будет занимать две строки */
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .brand__difference {
    margin-bottom: 86px;
    h3 {
      padding: 60px 0 51px;
      text-align: center;
    }
    .brand__difference__items {
      display: inline-flex;
      flex-direction: row;
      .brand__difference__item {
        h4 {
          padding-top: 16px;
          margin: 0;
        }
        p {
          padding-top: 8px;
          margin: 0;
        }
      }
      .brand__difference__item.one {
        padding-right: 58px;
      }
      .brand__difference__item.two {
        padding-right: 59px;
      }
      .brand__difference__item.three {
        padding-right: 91px;
      }
      .brand__difference__item.four {
        h4 {
          padding-top: 13px;
          margin: 0;
        }
        p {
          padding-top: 11px;
          margin: 0;
        }
      }
      // .brand__difference__item.one svg,
      // .brand__difference__item.two svg,
      // .brand__difference__item.three svg,
      // .brand__difference__item.four svg{
      //   padding-bottom: 18px;
      // }
      p {
        font-size: 16px;
      }
    }
  }
}
