@font-face {
  font-family: 'Satoshi-Variable';
  src: url('../fonts/satoshi/Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Variable.woff2')
      format('woff2'),
    url('../fonts/satoshi/Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Variable.woff')
      format('woff'),
    url('../fonts/satoshi/Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Variable.ttf')
      format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('../fonts/clash-display/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Variable.woff2')
      format('woff2'),
    url('../fonts/clash-display/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Variable.woff')
      format('woff'),
    url('../fonts/clash-display/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Variable.ttf')
      format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: 'Satoshi-Variable';
}

h1,
h2,
h3,
h4 {
  font-family: 'ClashDisplay-Variable';
  color: rgba(42, 37, 75, 1);
}

h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

p{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgba(42, 37, 75, 1);
}

.container {
  width: 1440px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}
